* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(darkblue,lightskyblue);
    color: red;
    border: thin solid green;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 20vh;
}

header .container{
   display:flex;
   /* width: 80%; */
   /* text-align: center; */
   margin:auto;
   /* white-space: nowrap; */
   justify-content: center;
}

header h1{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 5vw;
   width: 80%;
   text-align: center;
   /* border: thin black solid; */
   /* flex-basis: 20em;
   /* flex-shrink: 1; */
   /* flex-grow:1;  */
   
}

main .container{
    width: 85%;

}

main{
    background:linear-gradient(darkgreen,yellow,red);
 
}

footer {
    background:linear-gradient(darkblue,lightskyblue);
    padding-top: 20px;
    padding-bottom: 20px;
}

address{
    text-align: center;
    color: rgb(151, 17, 17);
    font-size: 20px;
}

.container {
    margin: auto;
}


label input{
    display: block;
    margin: auto;
}

#totalPrice{
    text-align: center;
    width:80%;
    font-size: 50px;
    margin: auto;
    color: yellowgreen;
}

#tP{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top:50px;
    border-radius: 10px thin yellow
}

footer .container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}


footer .container a{
   color: crimson;
   font-size:20px;
   padding-top: 20px;
   padding-bottom: 20px;
}

#belle{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction:row;
}

label{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   /* width: 100px;  */
   /* margin: auto; */
   margin-bottom: 20px; 
   /* padding-top: 20px; */
   border: black thin solid ;
   text-align: center;
   width: 450px;
   
}

.disabled {
    background-color:transparent;
    /* opacity: 0.5; */
    text-align: center;
    border: none;
    color: black;
    font-size: 25px;
}

/* #cC{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    
}

#bO{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: 100%;
    margin-top: 20px;
}

#gO{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: 100%;
    margin-top: 20px;
} */

img{
    width: 90%;
}

address span {
    display: block;
    font-style: normal;
}




