
*,
*::before,
*::after{
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 50px;
}

.mypage{
    width : 90%;
    margin: auto;
    
}

article{
    column-count: 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-justify: auto
}

body{
    background-color:white;
}

.image{
    border :1px;
    

}

h2{
    font-family: 'Courier New', Courier, monospace;
    
    
}
li{
    padding-top: 5px;
    font-family: monotype corsiva;
    
    
}